# Default Owner
* @smartcontractkit/devex-cicd

# Add @smartcontractkit/devex-cicd to all other
# entries for managing dependency bumps.

# rane
/actions/crib-*/** @smartcontractkit/rane @smartcontractkit/devex-cicd
/actions/devenv-*/** @smartcontractkit/rane @smartcontractkit/devex-cicd

# data-tooling
/actions/chip-schema-registration/ @smartcontractkit/data-tooling @smartcontractkit/devex-cicd

# data-analytics
/actions/pr-quality-check/ @smartcontractkit/data-analytics @smartcontractkit/devex-cicd
