* @smartcontractkit/devex-cicd

# CRIB and devenv
/actions/crib-*/** @smartcontractkit/cl-orchestration
/actions/devenv-*/** @smartcontractkit/cl-orchestration

# data-tooling  - temporarily add devex-cicd for dependency bumps
/actions/chip-schema-registration/ @smartcontractkit/data-tooling @smartcontractkit/devex-cicd

# data-analytics - temporarily add devex-cicd for dependency bumps
/actions/pr-quality-check/ @smartcontractkit/data-analytics @smartcontractkit/devex-cicd

# Medic (auto workflow retry only)
/actions/medic-workflow-retry-auto/** @smartcontractkit/foundations
/libs/medic/** @smartcontractkit/foundations
/.github/workflows/medic-*.yml @smartcontractkit/foundations
