* @smartcontractkit/releng

# Chainlink Testing Framework (CTF)
actions/ctf-*/** @smartcontractkit/test-tooling-team
.github/workflows/run-e2e-tests.yml @smartcontractkit/test-tooling-team

/actions/beholder-*/** @smartcontractkit/realtime
actions/ci-beholder-*/** @smartcontractkit/realtime

**/package.json @smartcontractkit/releng
