name: Reusable Stale PRs and Stale Issues

# This workflow analyzes pull requests and issues to identify and close stale ones that have not had any activity for
# a specified period. It will first add a stale label to the issue or PR, and if there is still no activity
# after a specified duration, it will close the issue or PR. It can also delete the branch if the PR is closed.
# It should be run on a nightly schedule. It's a thin wrapper with defaults set for https://github.com/actions/stale.
#
# Usage:
#
# name: Manage stale Issues and PRs
#
# on:
#   schedule:
#     - cron: "0 0 * * *" # Will be triggered every day at midnight UTC
#   jobs:
#     permissions:
#       actions: write
#       contents: write
#       issues: write
#       pull-requests: write
#     stale-prs:
#       uses: smartcontractkit/.github/.github/workflows/reusable-stale-prs-issues.yml@<ref>
#       with:
#         days-before-pr-stale: 30  # Optional, default value is "30"
#       secrets:
#         GH_TOKEN: $\{{ secrets.GITHUB_TOKEN }} # Remove the \ char to unescape.

on:
  workflow_call:
    # See: https://github.com/actions/stale?tab=readme-ov-file#list-of-input-options for inputs.
    inputs:
      close-pr-message:
        description: |
          The message to post on the pull request when closing it.
          If none provided, will not comment when closing a pull requests.

          We default to one within the action if this is not provided.
        required: false
        type: string
      delete-branch:
        description: "Delete the branch if the PR is closed"
        required: false
        type: boolean
        default: true
      days-before-issue-close:
        description: "Duration after which a stale issue will be closed"
        required: false
        type: string
        default: "" # unset
      days-before-issue-stale:
        description: "Duration after which an issue is considered stale"
        required: false
        type: string
        default: "-1" # disables marking issues as stale automatically
      days-before-pr-close:
        description: "Duration after which a stale PR will be closed"
        required: false
        type: string
        default: "7"
      days-before-pr-stale:
        description: "Duration after which a PR is considered stale"
        required: false
        type: string
        default: "30" # days
      exempt-all-pr-assignees:
        description: "Exempt all PRs with assignees from being considered stale"
        required: false
        type: boolean
        default: true
      exempt-draft-pr:
        description: "Exempt all draft PRs from being considered stale"
        required: false
        type: boolean
        default: false
      operations-per-run:
        description: |
          The maximum number of operations per run, used to control rate
          limiting (GitHub API CRUD related).
        required: false
        type: string
        default: "30"
      stale-pr-message:
        description: |
          The message to post on the pull request when tagging it. If none
          provided, will not mark pull requests stale.

          We default to one within the action if this is not provided.
        required: false
        type: string
    secrets:
      GH_TOKEN:
        description: "GitHub token for authentication"
        required: true

permissions: {}

jobs:
  stale:
    runs-on: ubuntu-latest
    # See: https://github.com/actions/stale?tab=readme-ov-file#recommended-permissions
    permissions:
      actions: write
      contents: write # only for delete-branch option
      issues: write
      pull-requests: write

    steps:
      - uses: actions/stale@v9
        env:
          CLOSE_PR_MESSAGE: |
            This PR has been automatically closed because it had been stale for > ${{ inputs.days-before-pr-stale }} days.
            If you wish to continue working on this PR, please reopen it to make any necessary changes.
          STALE_PR_MESSAGE: |
            This PR is stale because it has been open ${{ inputs.days-before-pr-stale }} days with no activity.
            Remove the `stale` label, comment, or update this PR to prevent this PR from being closed in ${{ inputs.days-before-pr-close }} days.
        with:
          repo-token: ${{ secrets.GH_TOKEN }}
          close-pr-message: ${{ inputs.close-pr-message || env.CLOSE_PR_MESSAGE }}
          days-before-issue-close: ${{ inputs.days-before-issue-close }}
          days-before-issue-stale: ${{ inputs.days-before-issue-stale }}
          days-before-pr-close: ${{ inputs.days-before-pr-close }}
          days-before-pr-stale: ${{ inputs.days-before-pr-stale }}
          delete-branch: ${{ inputs.delete-branch }}
          exempt-all-pr-assignees: ${{ inputs.exempt-all-pr-assignees }}
          exempt-draft-pr: ${{ inputs.exempt-draft-pr }}
          # Comma separated list of labels that exempt issues from being considered stale.
          exempt-pr-labels: "stale-exempt"
          operations-per-run: ${{ inputs.operations-per-run }}
          stale-pr-message: ${{ inputs.stale-pr-message || env.STALE_PR_MESSAGE }}
