name: Reusable CodeOwners Review Analysis (CORA)

on:
  workflow_call:
    inputs:
      cora-force-analysis:
        description: |
          Whether to force the analysis to run regardless of the number of codeowners.
          This is useful for testing or debugging purposes.
        required: false
        type: boolean
        default: ${{ contains(github.event.pull_request.labels.*.name, 'cora') }}
      cora-post-comment:
        description: "Whether to post a comment on the PR with the analysis results."
        required: false
        type: boolean
        default: true

      cora-minimum-codeowners:
        description: |
          The minimum numbers of codeowners for the current PR required to trigger CORA.
          If the number of codeowners is less than this value, the analysis will be skipped.
        required: false
        type: number
        default: 5

      cora-minimum-codeowners-entries:
        description: |
          The minimum number of codeowner entries (lines in the CODEOWNERS file) for the
          current PR required to trigger CORA. If the number of codeowner entries is less
          than this value, no comment will be posted.

          This is useful to avoid triggering CORA for PRs that touch a single entry which contains an expansive list of codeowners.
        required: false
        type: number
        default: 2

    secrets:
      AWS_ROLE_GATI_ARN:
        description: "AWS OIDC role ARN used for getting token from GATI."
        required: false
      AWS_LAMBDA_GATI_URL:
        description: "AWS Lambda URL for GATI."
        required: false

jobs:
  codeowners-review-analysis:
    runs-on: ubuntu-latest
    permissions:
      actions: read # needed to pull actions run url
      contents: read # needed to pull codeowners file
      id-token: write # used to assume aws role
      pull-requests: write # needed to read pull request and add comments
      issues: write # needed to add labels on PRs (weirdly)
    steps:
      - name: Setup github token
        id: setup-github-token
        uses: smartcontractkit/.github/actions/setup-github-token@setup-github-token/v1
        with:
          aws-role-arn: ${{ secrets.AWS_ROLE_GATI_ARN }}
          aws-lambda-url: ${{ secrets.AWS_LAMBDA_GATI_URL }}
          aws-region: us-west-2

      - name: Analyze (cora)
        uses: smartcontractkit/.github/actions/codeowners-review-analysis@codeowners-review-analysis/v2
        env:
          GITHUB_TOKEN: ${{ github.token }}
        with:
          force-analysis: ${{ inputs.cora-force-analysis }}
          members-read-github-token: ${{ steps.setup-github-token.outputs.access-token }}
          minimum-codeowners: ${{ inputs.cora-minimum-codeowners }}
          minimum-codeowners-entries: ${{ inputs.cora-minimum-codeowners-entries }}
